/* For Responsive Img */
.img-responsive {
  max-width: 100%;
  height: auto;
}
.img-xl{
    width: 225px;
    height: 225px;
}
.img-lg{
    width: 120px;
    height: 120px;
}
.img-md{
    width: 65px;
    height: 65px;
}
.img-sm {
  width: 40px;
  height: 40px;
}
.img-xs{
    width: 25px;
    height: 25px;
}
/* All Blocky Elements */
.display-inline-block {
  display: inline-block;
}
.display-block {
  display: block;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}

/* Dimension */
.width-half{
  width: 50%;
}
.height-half{
  height: 50%;
}
.width-vw-half{
  width: 50vw;
}
.height-vh-half{
  height: 50vh;
}
.width-full{
  width: 100%;
}
.height-full{
  height: 100%;
}
.width-vw-full{
  width: 100vw;
}
.height-vh-full{
  height: 100vh;
}
.width-quarter{
  width: 25%;
}
.height-quarter{
  height: 25%;
}
.width-vw-quarter{
  width: 25vw;
}
.height-vh-quarter{
  height: 25vh;
}
.width-3quarter{
  width: 75%;
}
.height-3quarter{
  height: 75%;
}
.width-vw-3quarter{
  width: 75vw;
}
.height-vh-3quarter{
  height: 75vh;
}
/* Border modification */
.border-circle {
  border-radius: 50%;
}
.border-rounded {
  border-radius: 10px;
}
.border-none{
  border: none;
}
.border-none-strict{
  border: none !important;
}

/* Little Padding */
.tiny-padding {
  padding: 10px;
}
/* Little Margin */
.tiny-margin {
  margin: 10px;
}

.md-margin{
  margin: 25px;
}
.lg-margin{
  margin: 50px;
}
.xl-margin{
  margin: 85px;
}
.md-padding{
  padding: 25px;
}
.lg-padding{
  padding: 50px;
}
.xl-padding{
  padding: 85px;
}


/* For Centering */
.horizontal-center,
.vertical-center {
  position: relative;
}
.horizontal-center,
.horizontal-center-strict {
  top: 50%;
  transform: translateY(-50%);
}
.vertical-center,
.vertical-center-strict {
  left: 50%;
  transform: translateX(-50%);
}

.horizontal-center-strict,
.vertical-center-strict {
  position: absolute;
}

/* For Removing Ugly List Style */
.list-style-none {
  list-style: none;
}
/* For removing ugly text decoration */
.text-decoration-none {
  text-decoration: none;
}

/* Flex Items */
.display-flex{
    display: flex;
}
.flex-dir-col{
    flex-direction: column;
}
.flex-dir-row{
    flex-direction: row;
}
.justify-self-start {
  justify-content: flex-start;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: flex-end;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}
.justify-self-start {
  justify-self: flex-start;
}
.align-self-start {
  align-self: flex-start;
}
.justify-self-center {
  justify-self: center;
}
.align-self-center {
  align-self: center;
}
.justify-self-end {
  justify-self: flex-end;
}
.align-self-end {
  align-self: flex-end;
}
.flex-no-grow{
    flex-grow: 0;
}
.flex-no-shrink{
    flex-shrink: 0;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-no-wrap{
    flex-wrap: nowrap;
}
/* Text Align */
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
.text-align-center {
  text-align: center;
}
.text-align-justify {
  text-align: justify;
}

.cursor-pointer {
  cursor: pointer;
}
.cursor-not-allowed {
  cursor: not-allowed;
}
.cursor-grab {
  cursor: grab;
}
.cursor-progress {
  cursor: progress;
}

/* Hover Effect */
.hover-filter:hover {
  transition: 0.2s all;
  filter: brightness(0.8);
}
/* Active Effect */
.active-filter:active {
  transition: 0.2s all;
  filter: brightness(0.98);
}
/* Transition */
.tiny-transition{
  transition: 0.2s all ease;
}
.md-transition{
  transition: 1s all ease;
}
.lg-transition{
  transition: 2.5s all ease;
}
.xl-transition{
  transition: 5s all ease;
}


/* For Differentiating List or Table Even and odd Rows  */
.odd {
  filter: brightness(0.9);
}
