body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.item {
  border: 1px black solid;
}

/*! Bug */
.grid-container {
  display: grid;
  grid-template-rows: repeat(autofill, minmax(auto, 1fr));
  grid-template-columns: repeat(autofill, minmax(auto, 1fr));
  grid-template-areas:
    "row-1-col-1 row-1-col-2 row-1-col-3 row-1-col-4 row-1-col-5"
    "row-2-col-1 row-2-col-2 row-2-col-3 row-2-col-4 row-2-col-5"
    "row-3-col-1 row-3-col-2 row-3-col-3 row-3-col-4 row-3-col-5"
    "row-4-col-1 row-4-col-2 row-4-col-3 row-4-col-4 row-4-col-5"
    "row-5-col-1 row-5-col-2 row-5-col-3 row-5-col-4 row-5-col-5";
}

.row-1-col-1 {
  grid-area: row-1-col-1;
}
.row-1-col-2 {
  grid-area: row-1-col-2;
}
.row-1-col-3 {
  grid-area: row-1-col-3;
}
.row-1-col-4 {
  grid-area: row-1-col-4;
}
.row-1-col-5 {
  grid-area: row-1-col-5;
}

.row-2-col-1 {
  grid-area: row-2-col-1;
}
.row-2-col-2 {
  grid-area: row-2-col-2;
}
.row-2-col-3 {
  grid-area: row-2-col-3;
}
.row-2-col-4 {
  grid-area: row-2-col-4;
}
.row-2-col-5 {
  grid-area: row-2-col-5;
}

.row-3-col-1 {
  grid-area: row-3-col-1;
}
.row-3-col-2 {
  grid-area: row-3-col-2;
}
.row-3-col-3 {
  grid-area: row-3-col-3;
}
.row-3-col-4 {
  grid-area: row-3-col-4;
}
.row-3-col-5 {
  grid-area: row-3-col-5;
}

.row-4-col-1 {
  grid-area: row-4-col-1;
}
.row-4-col-2 {
  grid-area: row-4-col-2;
}
.row-4-col-3 {
  grid-area: row-4-col-3;
}
.row-4-col-4 {
  grid-area: row-4-col-4;
}
.row-4-col-5 {
  grid-area: row-4-col-5;
}

.row-5-col-1 {
  grid-area: row-5-col-1;
}
.row-5-col-2 {
  grid-area: row-5-col-2;
}
.row-5-col-3 {
  grid-area: row-5-col-3;
}
.row-5-col-4 {
  grid-area: row-5-col-4;
}
.row-5-col-5 {
  grid-area: row-5-col-5;
}
